NODE_ENV=production
APP_ENV=development
PORT=3000
JWT={"secret": "", "expiresIn":3600, "refreshExpiresIn":86400, "refreshSecret": ""}
REDIS={"host":"localhost","port":6379,"password": ""}
MASTER_DB={"host":"127.0.0.1","port":3306,"username":"root","password":"","database":""}
SLAVES_DB=[{"host":"127.0.0.1","port":3306,"username":"root","password":"","database":""}]
QUEUE_BOARD_PASSWORD=
